.cardStyle {
    width: 10vh;
    height: 14vh;
    background-color: #ffffff;
    border-radius: 1vh;
    margin: 0.5vmin;
}

.faceDown {
    width: 9.3vh;
    height: 13.3vh;
    background-color: #7c0d0d;
    border-radius: 1vh;
    border-style: solid;
    border-color: white;
    margin: 0.5vmin;
}

.cardInfoStructure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vmin;
}

.cardSuit {
    height: 6vh;
    border: 2px black;
}

.cardInfo {
    height: 6vh;
    font-size: 5vmin;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}