.App {
  text-align: center;
  font-family: 'Oswald';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0e2e1a;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-title {
  background-color: #0e2e1a;
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.Hand-table {
  background-color: #325740;
  min-height: 15vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 1vmin;
}

.Main-table {
  background-color: #17492a;
  min-height: 71vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 1vmin;
}

.Sub-table {
  display: flex;
  padding: 1vmin;
}

.Hand-text {
  font-family: 'Oswald';
  padding-right: 1vmin;
  color: white;
}

.Start-button {
  background-color: #0e2e1a;
  height: 5vmin;
  width: 10vmin;
  border: solid 0.3vmin #011308;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 2vmin;
  color: white;

}

.Input-players {
  border-style: none;
  background-color: #091a10;  
  height: 5vh;
  width: 7vh;
  color: white;
  font-size: calc(10px + 4vmin);
  font-family: 'Oswald';
  font-weight: 700;
}

.Input-speed {
  border-style: none;
  background-color: #091a10;  
  height: 4vh;
  width: 8vh;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: 'Oswald';
  font-weight: 700;
}

.slidecontainer {
  width: 20vw; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.speedStyle {
  font-size: 2vmin;
}
